.projectHeaders {
    display: flex;
    gap: 375px;
}

.stitch {
    padding: 0;
    border: 1px solid #ccc;
}

.stitchInput {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    text-align: center;
    font-size: 12px;
    outline: none;
}

.stitchRowLayout {
    display: flex;
    gap: 4px;
}

.additionalRowInfo {
    width: 100px;
    height: 24px;
    padding: 0;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    outline: none;
}
